* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.Sidebar::-webkit-scrollbar{
    width: 0px;
}
label, button {
    cursor: pointer;
}
/* Loading screen under testing
.loadingS {
    position: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    transition: opacity 0.75s, visibility 0.75s;
}
.loadingS--END {
    opacity: 0;
    visibility: hidden;
}*/

/*For nav and side bar*/


#title {
    margin-top: 13px;
    color: white;
    text-decoration: none;
}
#Sidebar-A {
    display: none;
}
#Sidebar-A:checked ~ .Sidebar {
    left:0;
}
#Sidebar-A:checked ~ #overlay {
    background-color: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(10px);
    height: 100%;
    width:100%;
    position: fixed;
    top: 0;
    
    transition: all 0.5s ease-in-out;
} 
/*
THIS SHIT IS UNDER INVESTIGATION
#Sidebar-A:input[type="checkbox"]:not(:checked) ~ #overlay {

    animation: fade-out 1s ease-in-out;
}*/
nav {
    border-radius: 0px 0px 20px 20px;

    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    
    background-color: #000a5f81;


    display: flex;
    justify-content: flex-start;
}
nav svg {
    padding: 15px 14px;
    fill: aquamarine;
}
/*    !!THIS PART WILL COME TO V 2.0 Beta!!
nag svg:hover {
    
}
*/
.Sidebar a {
    text-decoration: none;
    color: white;
}
.Sidebar {
    overflow-y:scroll;
    border-radius: 5px;
    top: 0;
    left: -160px;
    z-index: 11;

    background-color: #0f006481;
    backdrop-filter: blur(10px);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25);

    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;

    transition: 0.5s ease-in-out;
}
#Xbar {
    padding: 5px;
    position: relative;
     top: -40px;
    left: 50px;

    transition: all 0.3s;
}
#Xbar:hover {
    color: aqua;
    margin-left: 10px;
}
#SideOP {
    position: relative;
   /* background-color: #9c2d2d; !!FOR DEBBUGING ONLY!! */

    width: 80%;
    
  
    padding: 15px;
    transition: all 0.3s;
}
#SideOP:hover {
    color: blue;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 1px;
}
.MGtop {
    margin-bottom: 15px;
}
/*FOOOOOOOOOOOOOOOOOOOOOOOOOTERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    

}