* {
    margin: 0;
    padding: 0;
}
body {
    background-image:url(/Medias/P_beldad/bd.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: sans-serif;
}
.Sidebar::-webkit-scrollbar{
    width: 0px;
}
label, button {
    cursor: pointer;
}
/* Loading screen under testing
.loadingS {
    position: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    transition: opacity 0.75s, visibility 0.75s;
}
.loadingS--END {
    opacity: 0;
    visibility: hidden;
}*/

/*For nav and side bar*/

#title {margin-right: auto;
}
#title img{
    padding: 2px 0px;

    height: 45px;
}
#Sidebar-A {
    display: none;
}
#Sidebar-A:checked ~ .Sidebar {
    left:0;
}
#Sidebar-A:checked ~ #overlay {
    background-color: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(10px);
    height: 100%;
    width:100%;
    position: fixed;
    top: 0;
    
    transition: all 0.5s ease-in-out;
}
#Sidebar-A:checked ~ #INFO {

}
/*
THIS SHIT IS UNDER INVESTIGATION
#Sidebar-A:input[type="checkbox"]:not(:checked) ~ #overlay {

    animation: fade-out 1s ease-in-out;
}*/
header {
    position: fixed;
    width: 97%;
    padding: 0px 1.2%;
    z-index: 10;
}
nav {
    border-radius: 50px;



    padding: 0px 1%;
    background-color: #101010;

    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.INFO a{
    border-radius: 50px;
    padding: 15px 20px;
    text-decoration: none;
    color: white;

    transition: all 0.3s ease;
}
.INFO a:hover {background-color: gray;color: #141414;}
#ACTIVE {background-color: gray;color: #141414;}

.INFO li{
    display: inline-block;
}
.Last {
    margin-right: 35px;
}
nav svg {
    padding: 8px 8px;
    fill: #ffffff;
}
/*    !!THIS PART WILL COME TO V 2.0 Beta!!
nag svg:hover {
    
}
*/
.Sidebar a {
    text-decoration: none;
    color: white;
}
.Sidebar {
    overflow-y:scroll;
    border-radius: 5px;
    top: 0;
    left: -160px;
    z-index: 11;

    background-color: #0f006481;
    backdrop-filter: blur(10px);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25);

    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;

    transition: 0.5s ease-in-out;
}
#Xbar {
    padding: 5px;
    position: relative;
     top: -40px;
    left: 50px;

    transition: all 0.3s;
}
#Xbar:hover {
    color: aqua;
    margin-left: 10px;
}
#SideOP {
    position: relative;
   /* background-color: #9c2d2d; !!FOR DEBBUGING ONLY!! */

    width: 80%;
    
  
    padding: 15px;
    transition: all 0.3s;
}
#SideOP:hover {
    color: blue;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 1px;
}
.MGtop {
    margin-bottom: 15px;
}
#INFO{
    border-radius: 5px;
    bottom: 0;
    left: 0;
    z-index: 12;

    background-color: #03ca9f;
    backdrop-filter: blur(10px);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25);

    height:15vh;
    width: 100%;
    display:none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;

    transition: 0.5s ease-in-out;
}
.ShowS {
    display: flex;

}
/*FOOOOOOOOOOOOOOOOOOOOOOOOOTERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    

}

/* HOME*/
.container {
    position: relative;
}
.text {
    color: white;
}
#TEXTH1 {
    font-size: 42px;
    padding: 1px;
    margin-top:30vh;
    margin-left: 5vh;
}
#TEXTH2 {
    margin-left: 10vh;
    font-size: 57.5px;
}
#TEXTH3 {
    font-size: 25px;
    margin-left:12.5vh;
}
.Lang {
    margin-left: 14vh;
    margin-right: 2vh;
} #Lang {margin-top: 1vh;}

/* ABOUT ME*/
.container2 {
    display: flex;
    padding: 0px 6%;

}
.Profile {

}
#Profile {
    display: flex;
    background-color: #585859;
    border-radius: 20px;

    height: 520px;
    width: 28vw;
}
#TEXTA2 {padding:11px 20px;}
#TEXTA1 {padding-left:20px;font-size: 40px;}
#About {    
    background-color: #303030;
    border-radius: 20px;
    padding: 20PX;
    color: white;
    display: flex;
} 
.skills {
    display: flex;
    background-color: blue;
    width: 500px;
    height: 250px;

    padding: 2px;
    justify-content: center;
    align-items: center;
}
/* PROJECTS */
#TEXTP1 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}
#PContainer {
    padding: 35px 3%;
}
.Project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
}
.Projects  {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.Projects img {
    width: 100%;
    border-radius: 20px;
    display: block;
    transition: transform 0.5s  ease;
}
.Prokects a {
    color: white;
    text-decoration: none;
}
.Projects:hover img {
    transform: scale(1.2);
}
.Player {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), #000c79b7);
    border-radius: 20px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;

    transition: all 0.85s  ease;
}
.Projects:hover .Player {
    height: 100%;
}
.Player h2 {
    color: #00ffea;
    font-size: 35px;
    margin-bottom: 1vh;
}
.Player p {
    color: white;
    font-weight: 550;
}

