.withcs1 {
    border: 1px solid #ff0000;
}
.withcs2 {
    background-color: #ff0000;
}
.withcs3 {
    border: 1px solid #ff0000;
    text-align: center;
    width: 200px;
}
.withcs4 {
    border: 1px solid #ff0000;
    text-align: center;
}